<div class="btn-group">
  <button
    ng-click="flip()"
    type="button"
    class="btn btn-primary"
    title="Click to flip">
    <span class="glyphicon glyphicon-share-alt"></span>
  </button>
</div>
<div class="btn-group pull-right">
  <button
    ng-click="edit($index)"
    type="button"
    class="btn btn-default"
    title="Edit card">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button
    ng-click="delete($index)"
    type="button"
    class="btn btn-danger"
    title="Delete card">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>
